extends layout
block content 
    .container-fluid.pt-3
        .row
            .col-12
                table.table.table-bordered
                    thead
                    tr
                        th(scope='col') CÓDIGO
                        th(scope='col') NOMBRE
                        th(scope='col') PRECIO
                        th(scope='col') DESCRIPCIÓN
                        th(scope='col') FOTO
                        th(scope='col') ACCIONES
                    tbody
                    - for(let i = 0; i<productos.length ; i++){
                        tr
                            td(scope='row')=productos[i].PD_codigo
                            td=productos[i].PD_nombre
                            td=productos[i].PD_precio
                            td(style="width: 30%")=productos[i].PD_descripcion
                            td=productos[i].PD_foto
                            td
                                button.btn.btn-success.edit.space(type='button' href='#update' data-toggle='modal')
                                    i.fas.fa-edit
                                button.btn.btn-danger(type='button')
                                    i.far.fa-trash-alt
                        -}

    #update.container-fluid.modal.fade
        .modal-dialog
            .modal-content
                .modal-header 
                    h4.modal-title Actualizar Producto
                    button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                .modal-body
                    form.form-horizontal(action='/')
                        .form-group
                            label.control-label.col-sm-2(for='codigo') Código:
                            .col-sm-10
                            input#email.form-control(type='text' placeholder='Ingrese código')
                        .form-group
                            label.control-label.col-sm-2(for='nombre') Nombre:
                            .col-sm-10
                            input#pwd.form-control(type='text' placeholder='Ingrese nombre')
                        .form-group
                            label.control-label.col-sm-2(for='precio') Precio:
                            .col-sm-10
                            input#pwd.form-control(type='number' placeholder='Ingrese precio')
                        .form-group
                            label.control-label.col-sm-2(for='descripcion') Descripción:
                            .col-sm-10
                            input#pwd.form-control(type='text' placeholder='Ingrese descripcion')
                        .form-group
                            .col-sm-offset-2.col-sm-10
                            button.btn.btn-success(type='submit') Enviar
