extends layout
block content
    -if (error)
        .alert.alert-danger(role="alert") #{mensaje}
        p.text-black.text-center #{error}
   
    a(href="/nuevoProducto")
        button.btn.btn-primary.mt-3.ml-3(type='button') Añadir Nuevo Producto 
    .container-fluid.pt-3
        .row
            .col-12
                table.table.table-bordered
                    thead
                    tr
                        th(scope='col') CÓDIGO
                        th(scope='col') NOMBRE
                        th(scope='col') PRECIO
                        th(scope='col') DESCRIPCIÓN
                        th(scope='col') FOTO
                        th(scope='col') ACCIONES
                    tbody
                    - for(let i = 0; i<productos.length ; i++){
                        tr
                            td(scope='row')=productos[i].PD_codigo
                            td=productos[i].PD_nombre
                            td=productos[i].PD_precio
                            td(style="width: 30%")=productos[i].PD_descripcion
                            td=productos[i].PD_foto
                            td
                                button.btn.btn-success.openUpdate.space(type='button' href='#update' data-id={'producto': productos[i]} data-toggle='modal')
                                    i.fas.fa-edit
                                button.btn.btn-danger.openDelete(type='button' href='#delete' data-id={'producto': productos[i]} data-toggle='modal')
                                    i.far.fa-trash-alt
                        -}

    #update.container-fluid.modal.fade
        .modal-dialog
            .modal-content
                .modal-header 
                    h4.modal-title Actualizar Producto
                    button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                .modal-body
                    form.form-horizontal(action='/updateProduct' method='get' role='form')
                        .form-group
                            label.control-label.col-sm-2(for='codigo') Código:
                            .col-sm-10
                            input#codigo.form-control(type='text' name='codigo' placeholder='Ingrese código' value="" readOnly="true")
                        .form-group
                            label.control-label.col-sm-2(for='nombre') Nombre:
                            .col-sm-10
                            input#nombre.form-control(type='text' name='nombre' placeholder='Ingrese nombre' value="")
                        .form-group
                            label.control-label.col-sm-2(for='precio') Precio:
                            .col-sm-10
                            input#precio.form-control(type='number' name='precio' placeholder='Ingrese precio' value="")
                        .form-group
                            label.control-label.col-sm-2(for='descripcion') Descripción:
                            .col-sm-10
                            textarea#descripcion.form-control(type='text' name='descripcion' placeholder='Ingrese descripcion' value="" cols="30", rows="7") 
                        .form-group
                            .col-sm-offset-2.col-sm-10
                            button.btn.btn-success(type='submit') Enviar

    #delete.container-fluid.modal.fade
        .modal-dialog
            .modal-content
                .modal-header 
                    h4.modal-title Eliminar Producto
                    button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                .modal-body
                    form.form-horizontal(action='/deleteProduct' method='get' role='form')
                        .form-group
                            input#codigo(type="hidden" value="" name="codigo")
                            label.control-label(for='name') Desea eliminar este Producto?
                        .form-group
                            label#codigoIn.control-label(for='name') 
                        .form-group
                            button.btn.btn-danger(type='submit') Eliminar
